.imgdisney{
    width: 120px;
    display: block;
    margin-right: auto;
  }
  body{
   
    background-color: #131520;
  
  }
  
  h1{
    font-family: Avenir, Helvetica, Arial, sans-serif;
    color: white;
    font-size : 21pt;
    text-align: center;
    font-weight: bold;
    margin-top: 90px;
  }
  
  
  .text-container{
    display: flex;
    color: white;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    margin-top: -50px;
    font-size: 17px;
    font-weight: 550;
    justify-content: center;
  }
  .text{
    padding: 56px;
  }
  button{
    color: white;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    background-color: rgb(61, 61, 61);
    padding: 16px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1.5px;
    border: rgb(61, 61, 61);
    font-size: 12px;
    position: absolute;
    top: 10px;
    right: 20px;
  }
  
  .image-container{
    display: flex;
    justify-content: center;
    
  }
  .image-container img{
    width: 100px;
    border-radius: 100px;
    padding: 30px;
  }
